.App {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

.liright {
  float: right;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: color 1.5s;
}


li a:hover {
  border-color: #000000;
  color: #646cff;
}

h1 {
  font-size:1200%;
}

#startbutton {
  size: 500%;
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: 2px solid #000000;
  border-radius: 5%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  transition: color 2.25s;
  transition: border-color 2.25s;
  transition: border-radius 2.25s;
}
#startbutton:hover {
  border-color: #646cff;
  border-radius: 20%;
  color: #646cff;
}
#startbutton:focus,
#startbutton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1{
  font-size: 1200%;
  text-align: center;
  transition: color 3s;
} 

h1:hover{
  color: #646cff;
}

h2{
  font-size: 200%;
  text-align: center;
}

h3{
  font-size: 180%;
  text-align: center;
}



p{
  font-size: 200%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  display: block;
  color: #000000;
}

button{
  font-size: 400%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  display: block;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input{
  font-size: 100%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  display: block;
  background-color: transparent;
  cursor: pointer;
  border-color: transparent;
  transition: border-color 1.25s;
}

input:hover {
  border-color: #646cff;
}

input.click{
  font-size: 100%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  display: block;
  background-color: trasparent;
  cursor: pointer;
  border-color: black;
  transition: border-color 1.25s;
}
input.click:hover {
  border-color: #646cff;
}

label{
  font-size: 100%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  display: block;
  color: #000000;
}

body{
  background-color: #ffffff;
  font-family: monospace;
  font-size: larger;
  overflow: hidden;
}

#box{
  background-color: #c7c7ce;
  border-radius: 5%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  width: 20%;
  border-color: #000000;
}

#box:hover{
  border: solid 2px #646cff;

}

iframe{
  align-items: center;
  margin: 0 auto;
  display: block;
  width: 100%;
}

#centering{
  align-items: center;
  margin: 0 auto;
  display: block;
  width: 100%;
}







