.backgroundbox {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .backgroundbox p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    color: black;
  }
  
  .carousel-container {
    height: 400px; /* Adjust the height as desired */
    overflow: auto;
  }

  .sanan{
    display: flex;
    width: 100%;
    justify-content: center;
  }

  h2{
    color: white;
  
}

img{
    align-items: center;
    display: inline-block;
}

p{
    color: black;
}
  