.contact-container {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .map-container {
    flex-basis: 50%;
    margin-right: 20px;
  }
  
  .contact-form-container {
    flex-basis: 50%;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .contact-form .form-group {
    margin-bottom: 20px;
  }
  
  .contact-form label {
    font-size: 18px;
    color: #ffffff;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
  }
  
  .contact-form textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
  }
  
  .contact-form button:hover {
    background-color: #dddddd;
  }
  
  iframe {
    width: 100%;
    height: 450px;
    border: none;
  }

  h3{
    color: white;
  }
  