body {
    color: white;
}
/* Startpage.css */
.impressum-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .impressum-content {
    display: flex;
    justify-content: center;
  }
  
  .impressum-section {
    margin-right: 30px;
  }
  
  .impressum-section h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .impressum-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .impressum-section li {
    margin-bottom: 5px;
  }
  
p{
    color: white;
}
  /* Impressum.css */
  /* Add any additional styles specific to the Impressum component here */
  