.tile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 20px;
}
  
.tile {
  flex-basis: 30%;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}


.tile h3 {
  margin-top: 10px;
  color: black;
}

.tile p {
  color: black;
}

.tile img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.tile button {
  background-color: #4caf4f00;
  color: rgb(0, 0, 0);
  border-style: inset;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: 1.5s;
}

.tile button:hover {
  background-color: #646cff;
}

h3{
  color: black;
}