body{
    background-color: black;
}

#textbox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    box-sizing: border-box;
}
  
#textbox h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
#textbox p {
    font-size: 16px;
    margin-bottom: 0;
}

.imagegrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .imagegrid img {
    width: 100%;
    height: auto;
  }
  
